body{
    background-color: #f8f8f8;
    text-align: center;
    margin: 0 !important;
}
section{
    width: 1092px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
nav{
    width: 100%;
    padding: 10px 0;
    background-color: #344860;
    
}
.produkt{
    position: relative;
    background-color: white;
    float: left;
    width: 340px;
    margin: 10px;
    border: solid 2px #858c96; 
    border-radius: 10px;
    height: 430px;
   
}
#promocja{
    font-size: 20px;
    color: red;
}
.panel_admina{
    width: 100%;
}
.produkt_img{
    margin: auto;
    width: auto;
    height: 320px;
}
#floating_box{
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 2;
    width: 100%;
    background-color: #e9e9e9;
    height: 110px;
    padding-bottom: 5px;
}
header{
    height: 150px;
}
.message{
    margin-top: 40px;
}
.message h1{

    font-size: 30px;
}
#btn-kosz{
    background-color: #66c688;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 120px;
    font-size: 30px;
}
#btn-kosz:hover{
    background-color: #45a049;
}
.produkt_info{
    position: absolute;
    bottom: 10px;
    width: 330px;
}
.produkt_cena{
    float: left;
    margin-left: 20px;
}
.type_ilosc{
    width: 30px;
}
.type_submit{
    background-color: #66c688;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.type_submit:hover, .btn_koszyk:hover{
    background-color: #45a049;
}
#suma{
    font-size: 30px;
}

ol{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 15px;
    height: 30px;
    line-height: 200%;
    display: inline-block;
    
}
.icon-angle-down{
    color: white;
}
ol a{
    color: white;
    text-decoration: none;
    display: block;
    
}
ol>li{
    float: left;
    width: 140px;
    height: 40px;
}
#main_img img{
    position: absolute;
    height: 80px;
    display: block;
    margin-left: 100px;
    padding: 7.5px 0px;
}
.box1{
    display: inline-block;
    text-align: center;
    margin: auto 50px;
    overflow: hidden;
}

.icon-heart-empty,.icon-user-o{
    font-size: 35px;
    border-radius: 50%;
    background-color: white;
}
.zaloguj a{
    color: #66c688;
    text-decoration: none;  
}
.zaloguj{
    display: inline-block;
    margin-right: 30px;
}

.search{
    display: inline-block;
    
}
#search_form{
    background-color: white;
    border-radius: 30px;
}
.kosz{
    display: inline-block;
    margin: 0;
}
#form_box{
    padding-top: 20px;
}
#zaloguj_box{
    padding-bottom: 10px;
}
#koszyk_box{
    padding-bottom:20px;
}
.icon-search{
    font-size: 20px;
}
#search_btn{
    border: none;
    background-color: white;
    border-radius: 30px;
}
#search_text{
    background-color: white;
    border-radius: 30px;
    border: none;
    font-size:22px;
    padding: 10px;
    text-decoration-style: none;
}
input ,button{
 outline:none;
}
.empty_div{
    background-color: #f8f8f8;
    width: 100%;
    height: 20px;
}
#add_row{
    background-color: #b7cff7;
}
#tr_list{
    background-color: #ddeaff;
}
.wyniki2{
    width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}

.search_section{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding-top: 8px;
    margin-top: 20px;
    background-color: #91b6f2;
}
.btn_koszyk{
    background-color: #66c688;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 30px;
    font-size: 20px;
}

.search_section2{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding-top: 8px;
    margin-top: 20px;
    background-color: #91b6f2;
}
.wyniki{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
#table_koszyk{
    margin-top: 40px;
}
table,th,td{
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;   
}
td{
    padding: 3px 0px;
}
.from_table{
    width: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
.from_table input{
    width: 30px;
    text-align: center;
}
td input{
    text-align: center;
    margin: 0;
}
.img_div img{
    width: 20px;
}
.btn_input{
    margin-top: 20px;
}
.span_div{
    background-color: #f2dede;
    color: #bf5050;
}
p{
    margin: 0;
    margin: 5px 0;
}
.box_rej_2,.box_rej_3{
    text-align: right;
    margin: 0;
    display: inline-block;
    height: 360px;
    width: 450px;
    vertical-align: top;
    margin-left: 40px;
    margin-right: 40px;
}
.box_rej_4{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.box_rej_5{
    margin: 0;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 450px;
    margin-left: 40px;
    margin-right: 40px;
}
.form_label input{
    font-size: 18px;
    border-radius: 5px;
    width: 250px;
    margin-left: 10px;
    padding: 6px;
}
.form_label_kod input{
    font-size: 18px;
    border-radius: 5px;
    margin-left: 10px;
    padding: 6px;
}
.from_group{
    margin: 5px 5px;
    text-align: right;
}
.input_kod{
    width: 90px;
}
.input_miasto{
   width: 150px; 
}
.form_label_radio1{
    width: 250px;
    margin-left: 5px;
    text-align: left;
}
#form_radio{
    display: inline-block;
}
label{
    font-size: 18px;
}
.form_h{
    text-align: center;
    color: #45a049;
}
.newslatter{
    width: 250px;
    text-align: left;
    margin: 5px 5px 5px auto;
}
#section_logowanie{
    background-color: #fff;
    margin-top: 40px;
    border-radius: 10px;
}
#btn_reg{
    margin: 10px 0;
}
#zaloduj{
    margin-top: 8px;
}
#btn_reset{
    margin-bottom: 20px;
}
.icon-up-circled2{
    width: 30px;
}




