
.icon-basket:before { content: '\e800'; } /* '' */
.icon-trash:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-heart-empty:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-up-circled2:before { content: '\e805'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */